{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~styles": "./styles",
          "~server": "./server",
          "~lib": "./lib",
          "~assets": "./assets",
          "~styles": "./styles",
          "~views": "./views"
        }
      }
    ]
  ]
}
