{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["./styles/base/**", "./styles/vendors/**"],
  "rules": { 
    "color-hex-length": "long"
  }
}