// =====================================================
//    COLORS
// =====================================================

$black: #000;
$white: #fff;

$animSpeed1: cubic-bezier(0.785, 0.135, 0.15, 0.86);

// =====================================================
//    Fonts
// =====================================================
$poppins: 'Poppins', sans-serif;
$openSans: 'Open Sans', sans-serif;

// =====================================================
//    Fonts Weight
// =====================================================
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

/* letter spacing
10 = 0.01em
20 = 0.02em
*/
