// =====================================================
//    COLORS
// =====================================================

$black: #000;
$white: #fff;



// =====================================================
//    Fonts
// =====================================================
$poppins: 'Poppins', sans-serif;

// =====================================================
//    Fonts Weight
// =====================================================
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

/* letter spacing
10 = 0.01em
20 = 0.02em
*/
